
.vs/slnx.sqlite
.vs/WeblateFeaturesTest/FileContentIndex/bbe5fb50-5723-44da-8443-90a3cd9851e6.vsidx
.vs/WeblateFeaturesTest/FileContentIndex/read.lock
.vs/WeblateFeaturesTest/FileContentIndex/0760419e-b32d-41f3-86b2-9b3b6627bb3c.vsidx
.vs/WeblateFeaturesTest/FileContentIndex/2146c663-ae76-495a-8d0a-928b1d47c076.vsidx
.vs/WeblateFeaturesTest/FileContentIndex/85d99a37-28ac-4fd3-a3b9-fc0d69b71482.vsidx
